@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 20, 20, 20;
  --background-end-rgb: 100, 0, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

header {
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Arial', sans-serif; */
  /* font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace; */
    font-family: 'Garamond';
  font-weight: 500;
}
body {
  color: aliceblue;

  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  background: black;

  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  /* font-family: 'Arial', sans-serif; */
  /* font-family: 'Courier New', Courier, 'Lucida Sans Typewriter',
    'Lucida Typewriter', monospace; */
    font-family: 'Garamond';
  font-weight: 400;
  /* font-family: monospace; */
  font-size: 16px;
}
.sticky-navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  width: 100vw;
  z-index: 1000;
  align-items: center;
}
.nav-icon {
  width: 50px; /* Adjust the width as needed */
  height: auto; /* This keeps the aspect ratio of the image */
}
.nav__item {
  font-size: 21px;
  margin: 1rem;
}

.left,
.right {
  width: 50vw;
  flex: 1 1 50%;
  box-sizing: border-box;
  padding: 2rem;
  /* debug lines, will remove later */
  border: 1px solid white;
}

/* Adjust layout for smaller screens */
@media (max-width: 600px) {
  body{
    font-size: 13px;
  }
  .left,
  .right {
    flex-basis: 100%; /* Each takes full width on smaller screens */
    width: 100%;
    padding: 0.5rem;
    font-size: 13px;
  }
}
