.title{
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}
.smalltitle{
  font-weight: bold;
  font-size: 26px;
}
.mainContainer {
  /* background-color: '#a3b5b4'; */
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between; 
  padding: 4rem;
}
.guestLink{
  color: blue;
  text-decoration: underline;
 
}

.faIcon{
  padding-left: 0.25rem;
}
.workshopInfo {
  flex: 2; 
  padding-right: 1.5rem; 
}

.sideBar {
  flex: 1; 
  position: sticky;
  top: 1.5rem; 
  height: fit-content;
}
.workshopMaintxt {
  line-height: 1.6;
}

.guestCard {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
  padding: 2rem 0;
  /* background-color: #f9f9f9;  */
  border-bottom: 1px solid white;
  /* box-shadow: 0 2px 5px rgba(0,0,0,0.1); */
}
.guestCardImageContainer {
  flex: 0 0 25vw; 
  overflow: hidden;
}
.guestImg {
  width: 100%; 
  height: auto; 
  object-fit: cover;

}

.cardContent {
  flex: 1; 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0 1rem;
}

.guestName {
  font-size: 24px; 
  margin-bottom: 10px;
}

.guestBio {
  font-size: 16px; 
}
@media (max-width: 768px) {
  .title{
    font-size: 26px;
  }
  .guestCard {
    flex-direction: column;
    /* align-items: flex-start; */
   
  
  }

  .mainContainer {
    flex-direction: column;
    padding: 4rem 1.5rem;
  }

  .workshopInfo,
  .sideBar {
    flex: 1 0 100%; /* Makes each take full width on smaller screens */
    padding-right: 0; /* Removes the padding on smaller screens */
  }

  .sideBar {
    order: 2; /* Moves the sidebar to the bottom on smaller screens */
  }
}