.card {
  display: flex; 
  flex-direction: column;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); */
  transition: 0.3s;
  /* border-bottom: 0.5px solid white; */
  /* height: 100vh; */
}

.imgContainer {
  flex: 2; /* Allocate 2/3 of the space to the image container */
  overflow: hidden;
  /* object-fit: cover;  */
}

.card img {
  width: 100%; 
  height: auto; 
  object-fit: cover; 
  max-height: 40vh;
}

.card-body {
  flex: 1; /* Allocate 1/3 of the space to the text container */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.8rem;
  background: linear-gradient(to top right, rgba(200,200,255,0.1), rgba(255,255,255,0.2));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
/* 
.card-title, .card-text {
  margin-bottom: 0.5rem;
} */
.socialLink-continer{
  display: flex;
  justify-content: space-between;
}
.card-socialLink{
  font-size: 18px;
  text-decoration: underline;
  color: blue;
}
.card-artistName, .card-text {
  margin-bottom: 0.8rem;
}

.card-title {
  font-size: 22px;
  font-style: italic;
  font-weight: bold;
}

.card-text {
  font-size: 14px;
}

@media (max-width: 768px) {
  .card {
    height: auto;
    margin-bottom: 20px;
    flex-direction: column; 
  }
  .card-title {
    font-size: 18px;
 
  }
  .socialLink-continer{
    display: flex;
    justify-content: none;
  }
  .imgContainer, .card-body {
    flex: none; /* Reset the flex, so they can adjust based on content or specific sizes */
    height: auto; /* Adjust height based on content */
  }
}