footer {
    background-color: #0e6173;
    padding:2.5rem 2rem;
    text-align: center;
  }
  hr{
    padding: 20px;
  }
  .flex-footer-top{
    display: flex;
    flex-wrap: wrap;
  }
  .footer-flex-item{
    width: 50%;
    padding: 20px 0;
    text-align: left;
  }