footer {
  background-color: #0e6173;
  padding: 2.5rem 2rem;
  text-align: center;
}
hr {
  padding: 20px;
}
.flex-footer-top {
  display: flex;
  flex-wrap: wrap;
}
.footer-flex-item {
  width: 50%;
  padding: 1rem 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-flex-item h3 {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 22px;
}

/* Adjustments for smaller screens */
@media (max-width: 768px) { /* Adjust breakpoint as needed */
  .footer-flex-item {
    width: 100%; /* Full width on smaller screens */
  }
}
